# DAT210x - Programming with Python for DS

## Module2 - Lab3

In [31]:
# Import and alias Pandas
import pandas as pd
import numpy as np

Often, you will want to load a dataset that is missing explicit header labels. You won't know if your data lacks headers or not unless you load it up and examine the headers to see if they make sense. Pandas by default reads in the first row of data as the header. If that isn't the case for your specific data set, you will lose your first data row. Be careful!

Load up the `Servo.data` dataset. Examine the headers, and adjust them as necessary, if need be.

In [21]:
df = pd.read_csv("Datasets\servo.data",sep = ",", header = None)
df.columns = ['motor', 'screw', 'pgain', 'vgain', 'class']

Let's try experimenting with some slicing. Create a slice that contains all entries that have a vgain equal to 5. Then print the length of (# of samples in) that slice:

In [34]:
x = df[(df.loc[:,"vgain"] == 5)]["vgain"]
len(x)

22

Create a slice that contains all entries having a motor equal to E and screw equal to E. Then print the length of (# of samples in) that slice:

In [36]:
#y = np.sum((df.loc[:,"motor"] == "E") & (df.loc[:,"screw"] == "E"))
y = np.sum((df["motor"] == "E") & (df["screw"] == "E"))
y

6

Create a slice that contains all entries having a pgain equal to 4. Use one of the various methods of finding the mean vgain value for the samples in that slice. Once you've found it, print it:

In [32]:
np.mean(df[df.loc[:,"pgain"] == 4]["vgain"])

2.0606060606060606

Here's a bonus activity for you. See what happens when you display the `.dtypes` property of your dataframe!

In [33]:
df.dtypes

motor     object
screw     object
pgain      int64
vgain      int64
class    float64
dtype: object

In [17]:
df.head()

  motor screw  pgain  vgain     class
0     E     E      5      4  0.281251
1     B     D      6      5  0.506252
2     D     D      4      3  0.356251
3     B     A      3      2  5.500033
4     D     B      6      5  0.356251

In [16]:
df.describe()

            pgain       vgain       class
count  167.000000  167.000000  167.000000
mean     4.155689    2.538922    1.389708
std      1.017770    1.369850    1.559635
min      3.000000    1.000000    0.131250
25%      3.000000    1.000000    0.503126
50%      4.000000    2.000000    0.731254
75%      5.000000    4.000000    1.259369
max      6.000000    5.000000    7.100108

In [35]:
x

1      5
4      5
8      5
10     5
22     5
24     5
25     5
34     5
38     5
50     5
70     5
73     5
81     5
84     5
95     5
108    5
112    5
117    5
132    5
135    5
161    5
166    5
Name: vgain, dtype: int64

In [37]:
y

6

In [38]:
df[(df["motor"] == "E") & (df["screw"] == "E")]

    motor screw  pgain  vgain     class
0       E     E      5      4  0.281251
35      E     E      3      2  1.100000
86      E     E      4      3  0.843755
132     E     E      6      5  0.281251
140     E     E      4      2  0.506252
151     E     E      3      1  0.700001

In [49]:
(df[df.loc[:,"pgain"] == 4].loc[:,["pgain","vgain"]]).describe()

       pgain      vgain
count   66.0  66.000000
mean     4.0   2.060606
std      0.0   0.820484
min      4.0   1.000000
25%      4.0   1.000000
50%      4.0   2.000000
75%      4.0   3.000000
max      4.0   3.000000